* {
  font-family: "bryant-web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2E0927;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

#container {
  position: relative;
  max-width: 600px;
  padding: 20px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
/* TRAINING SECTION */

#trainingType {
  margin: 20px 0px 20px 0px;
  background-color: #dd792a;
  color: #ffffff;
  text-align: center;
  padding: 5px;
}

/* TIME SECTION */

#timeAvailInput {
  width: 90%;
  padding: 12px 20px;
  margin: 20px auto 0 auto;
  display: block;
  box-sizing: border-box;
  font-style: italic;
}        

#labelTimeInput {
  display: block;
  margin-top: 10px;
  text-align: center;
}

#errorMessage {
  text-align: center;
  color: #d90000;
  font-style: italic;
}

/* SNACK SECTION CHOOSE*/
.snacksSection {
  background-color: #F1F1E9;
  width: 100%;
  margin: 0 auto;
}

.snackOption {
  margin: 10px 0;
  padding: 5px 10px;
  color: white;
  background-color: #DD792A;
  border: 1px solid #2E0927;
  border-radius: 20px;
  display: flex;
}

.snackLabel {
  display: block;
  text-align: left;
  font-style: italic;
}

/* SNACK CONTENT SECTION */

#snackContentSection {
  margin: 0 auto 20px auto;
}

.snackChosen {
  background-color: #F1F1E9;
  border: #2E0927 solid 2px;
  padding: 10px;
}

#snackChosenName {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 1.1rem;
}

#snackChosenOutdoor {
  border: transparent 0px;
  padding: 0%;
  margin: 0%;
}

#ctaLinkButton {
  display: block;
  margin: 20px auto -10px auto;
  background-color: transparent;
  border: 0px;
  text-decoration: underline;
  color: #D90000;
  font-size: 1.1rem;
}

/* SNACK NUTRIENT SECTION */

#richFood {
  margin-top: 10px;
  text-align: center;
}

/* BUTTON */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  cursor: pointer;
}

.controlButton {
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px auto;
  border-color: #D90000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#validTrainingButton {
  background-color: #31092A;
}

#backButton, #nextButton {
  background-color: #31092A;
  margin: 10px 20px;
}

#restartButton {
  background-color: #D90000;
}

#validTrainingButton:hover, #backButton:hover, #nextButton:hover {
  background-color: #11020F;
}

#restartButton:hover {
  background-color: white;
  color: #D90000;
}

#validTrainingButton {
  display: flex;
}

/* BOTTOM SECTION */

#bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#progression-bar {
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
  position: relative;
  height: 10px;
  border: 2px solid #2E0927;
  border-radius: 5px;
}

#progression-percentage {
  text-align: center;
}

#filled-bar {
  background-color: #2E0927;
  height: 10px;
  width: 0px;
}

@media (min-width: 900px) {
  /* Put above CSS already used for timeInput to have it in one line but for mobile put above "combien de temps..." and below "inputFiled " to see all the placeholder text*/

  #timeAvailSection {
    display: flex; /* Flexbox makes the label and input appear on the same line */
    justify-content: center; /* Ensures no extra space between label and input */
    align-items: center; /* Vertically aligns the label and input */
    margin: 0 auto; /* Centers the section */
  }

  #labelTimeInput {
    display: inline-block;
    margin: 0;
    text-align: right;
    width: auto; /* Let the label take only the space it needs */
  }

  #timeAvailInput {
    display: inline-block;
  }

  #progression-bar {
    margin: auto;
    margin-top: 30px;
    display: flex;
    height: 10px;
    width: 80%;
    border: 2px solid #2E0927;
    border-radius: 5px;
  }
}
